/* {
  outline: 1px solid red;
}*/
body {
  font-family: "PT sans Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color:#000000;
  text-transform: uppercase;
}
.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

/* З А Г О Л О В К И */

.title {
  font-size: 21px;
  line-height: 26px;
}
.reason-title {
  font-size: 21px;
  line-height: 21px;
  margin-left: 50px;
  margin-right: 50px;
}
.question {
  font-size: 30px;
  line-height: 24px;
}
.reason-description {
  font-size: 14px;
  line-height: 21px;
  color:#333333;
}
.header-title p {
  line-height: 26px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*H E A D E R*/

.main-header {
  position: relative;
}
.navigation-item a {
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  line-height: 26px;
  font-weight: bold;
}
.logo {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
li:nth-child(2) {
  margin-right: 20%;
}
.navigation-item  {
  box-sizing: border-box;
  display:inline-block;
  text-align: center;
  width: 20%;
  vertical-align: top;
  padding: 15px 15px;
}

/*P R O M O*/

.promo {
  background: url("../img/bg-photo-index.jpg") no-repeat;
  height:428px;
  padding-top: 76px;
}
.promo-image img {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}
article {
  text-align: center;
}
.header-title {
  display: inline-block;
  text-align: center;
  padding: 62px 330px 55px;
  vertical-align: top;
}
.title {
  margin-bottom: 33px;
}
.reason-row {
  font-size: 0; /* нужно ли здесь это свойство*/
}
.reason-row-icon {
  font-size: 0; /* нужно ли здесь это свойство*/
}
.reason-row--blue {
  height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
}
.reason {
  display: inline-block;
  width: 300px;
  text-align: center;
  vertical-align: middle;
  padding: 40px 50px;
}
.reason-number {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 21px;
}
.reason .reason-title{
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 26px;
}
.reason-row--blue .reason-description {
  color: #ffffff;
}
.reason-row--grey {
  background-color: #eeeeee;
}
.reason .reason-description {
  font-size: 14px;
  line-height: 21px;
}
.reason-image {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding:0;
  height: 256px;
  width: 800px;
}
.reason-icon--house {
  position: relative;
  padding-bottom: 85px;
}
.reason-icon--house .reason-title {
  margin-top: 150px;
  margin-bottom: 28px;
}
.reason-icon--house::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background: url("../img/reason-icon--house.png") no-repeat;
}
.reason-icon--food .reason-title {
  margin: 0;
  margin-top: 150px;
  margin-bottom: 28px;
}
.reason-icon--food {
  position: relative;
  padding-bottom: 85px;
}
.reason-icon--food::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 163px;
  width: 74px;
  height: 70px;
  background: url("../img/reason-icon--food.png") no-repeat;
}
.reason-icon--souvenirs .reason-title {
  margin-top: 150px;
  margin-bottom: 28px;
}
.reason-icon--souvenirs {
  position: relative;
  padding-bottom: 85px;
}
.reason-icon--souvenirs::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 168px;
  width: 64px;
  height: 76px;
  background: url("../img/reason-icon--souvenirs.png") no-repeat;
}


/*S E A R C H*/

.search {
  text-align: center;
  padding-top: 55px;
}
.question {
  margin-bottom: 30px;
}
.search .reason-description {
  line-height: 24px;
}
.search-btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 568px;
  background-color: #766357;
  color: #ffffff;
  padding: 30px 0;
  margin-top: 50px;
}
.map {
  position: relative;
  background-image: url("../img/map.jpg");
  width: 1200px ;
  height: 593px;
}

/* Ф О Р М А*/

.form {
  box-sizing: border-box;
  position: absolute;
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  transform: translateX(-50%);
  left: 50%;
  padding: 55px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  top: 0;
}
.form-line {
  box-sizing: border-box;
  margin-bottom: 29px;
  text-align: left;
}
.form-line input[type=text] {
  border: none;
  outline: none;
  background-color: #f2f2f2;
  font-weight: inherit;
  width: 316px;
  float: right;
  padding: 8px 15px;
  margin-left: 18px;
}
.form-line label {
  padding: 8px 0px; /*выровняли вручную, как сделать автоматически расскажи */
  display: inline-block;
}
.data-numbers input[type=text] {
  border: none;
  outline: none;
  display: block;
  width: 8px;
  padding: 6px 15px;
}
.adult-data {
  width: 225px;
  float: left;
}
.child-data {
  width: 225px;
  float: right;
}
.data-numbers {
  margin-top: 2px;
  float: right;
}
.minus {
  border: none;
  outline: none;
  width: 38px;
  height: 38px;
  float: left;
}
.data-numbers input[type=text] {
  float: left;
  margin: 0;
}
.plus {
  border: none;
  outline: none;
  width: 38px;
  height: 38px;
  float: left;
}
.child-data label {
  margin-left: 50px;
}
.btn-find {
  display: inline-block;
  text-transform: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  width: 458px;
  padding: 16px 0;
  margin-top: 21px;
}

/*F I L T E R S*/

.filters-row {
  font-family: "PT Sans", sans-serif;
  height: 177px;
  background-image: url("../img/filterbackground.jpg"); /* не вытягивается на полный размер, остается незекрытый кусок*/
  background-repeat: no-repeat;
  padding: 28px 72px;
  color: #ffffff;
  font-weight: bold;
  font-size:16px;
  line-height:21px;
}
.filters-options {
  width: 160px;
  float:left;
  margin-right: 90px;
}
.filters-title {
  margin: 0;
  margin-bottom: 25px;
}
.filters-list {
  font-family: "PT Sans Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  list-style: none;
}
.filters-item input {
  margin-right: 19px;
  margin-bottom: 23px;
}
.filter-range {
  font-family: "PT Sans Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  float:right;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
}
.filter-range-title {
  font-weight: bold;
  margin-bottom: 9px;
  font-size:16px;
  line-height:21px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  margin-left: 10px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  font-family: inherit;
  font-weight: inherit;
  display: inline-block;
  font-size:14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  font-family: "PT Sans Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: inherit;
  width: 50px;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

 /*Р Е З У Л Ь Т А Т Ы     П О И С К А*/

.results-row {
  font-size: 0;
  padding: 32px 72px; /*почему в ФШ показывает одно расстояние padding, а в браузере по факту получается другое?*/
}
.search-results {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 48px;
}
.sort {
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 40px;
}
.sort-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  vertical-align: bottom;
}
.sort-list li {
  display: inline-block;
  margin-right: 32px;
}
.sort-list a {
  vertical-align: bottom;
  text-decoration: none;
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}
.active a {
  color: #81b3d2;
  border-bottom: none;
}
.arrow {
  float:right;
  width: 40px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

/*О Т Е Л И*/

.hotel {
  font-family: "PT Sans Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  border-top: 1px solid #e5e5e5;
  padding: 30px 72px;
}
.hotel:nth-child(3n) {
  border-bottom: 1px solid #e5e5e5;
}
.hotel-image img {
  float:left;
  width: 135px;
  height: 90px;
}
.hotel-content {
  float:left;
  margin-left: 30px;
}
.hotel-title {  /*Как выровнять ХОТЕЛТАЙТОЛ и КНОПОЩКЕ*/
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 3px; /*РАЗМЕРЫ НЕ АКТУАЛЬНЫЕ ИБО НЕ СОВПАДАЕТ С МАКЕТОМ ВИЗУАЛЬНО*/
}
.details {
  float:left;
  width: 110px;
}
.booking {
  margin-left: 6px;
  float:left;
  width: 142px;
}
.hotel-description {
  margin-bottom: 11px; /*РАЗМЕРЫ НЕ АКТУАЛЬНЫЕ ИБО НЕ СОВПАДАЕТ С МАКЕТОМ ВИЗУАЛЬНО*/
}
.btn-blue {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 4px 17px;
  font-weight: bold;
}
.btn-brown {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #766357;
  padding: 4px 17px;
  font-weight: bold;
}
.aside {
  text-align: center;
  float:right;
  width:120px;
}
.rating {
  width: 120px;
  padding: 4px 13px 4px 16px;
  margin-top: 47px;
  background-color: #e5e5e5;
  color: #666666;
}
.stars {
  text-align: right;
}


/* F O O T E R */

.main-footer-index {
  position: absolute;
  bottom: 0;
  opacity: 0.7;
  font-size: 0;
  background-color: #f9fbf6;
}
.main-footer-hotel {
  font-size: 0;
}
.footer-tag {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 380px;
  padding: 45px 10px;
  text-decoration: none;
}
.footer-tag a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: bold;
}
.footer-social {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 380px;
  vertical-align: middle;
  padding: 36px 10px;
}
.footer-social a {
  display: inline-block;
  width: 46px;
  height: 48px;
  text-decoration: none;
  margin-right: 6px;
  background-color: #81b3d2;
}
.footer-copyright {
  display: inline-block;
  position: relative;
  width: 288px;
  padding: 48px 0px;
  padding-left: 102px;
  padding-right: 10px;
  font-family: "PT Sans Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  vertical-align: bottom;
}
.footer-copyright a {
  position: absolute;
  width: 113px;
  height: 39px;
  background: url("../img/htmlacademy.png") no-repeat;
  top: 41px;
  left: 194px;
}
